/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
}

.container {
  padding: 20px;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

nav {
  margin-top: 30px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
nav li {
  margin-left: 30px;
  text-decoration: none;
}
nav li a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-container {
  display: flex;

  /* height: 400px; */
  justify-content: space-between;
}
.top-container h1 {
  margin-top: 60px;
  line-height: 50px;
}
.top-container p {
  margin: 20px auto;
  font-stretch: expanded;
  line-height: 21px;
}

.top-container-image {
  width: 55%;
  /* height: 400px; */
}

#top-placeholder {
  padding: 10px;
  /* border-radius: 1px; */
  padding-right: 80px;
  margin-right: 9px;
}

.myButton {
  background-color: #1869e4;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 12px 60px;
  text-decoration: none;
}
.myButton:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}
.myButton:active {
  position: relative;
  top: 1px;
}
main {
  background-image: url(../images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.middle-container {
  display: flex;
  justify-content: space-between;
  margin: 85px auto;
}
.middle-container a {
  color: hsl(170, 45%, 43%);
  text-decoration-line: underline;
}
.middle-container-box {
  width: 250px;
  height: 150px;
  background-color: white;
  padding: 20px 25px;
  box-shadow: 3px 3px 7px 4px hsl(0, 0%, 75%);
  border-radius: 5px;
}
.middle-container-box-p {
  font-size: 12px;
  line-height: 18px;
}

.illustration-img2 {
  width: 55%;
  /* height: 400px; */
}

.shadow-box {
  display: flex;
  font-size: 7px;
}

.shadow-box img {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin-top: 7px;
  margin-right: 7px;
}
.shadow-box-p {
  font-size: 7px;
  margin-top: 3px;
}

.bottom-container {
  background-color: hsl(238, 22%, 44%);
  color: hsl(240, 75%, 98%);
}
.bottom-content {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}
#bottom-placeholder {
  padding: 15px;
  border-radius: 2px;
  padding-right: 300px;
  border: none;
  margin: 30px auto 15px auto;
}
.bottom-button {
  background-color: #1869e4;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 14px 46px;
  text-decoration: none;
}
.bottom-button:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}
.bottom-button:active {
  position: relative;
  top: 1px;
}

footer {
  background-color: hsl(243, 87%, 12%);
}
.footer-container {
  margin: 60px auto 40px auto;
}
.footer-links {
  display: flex;
  justify-content: space-between;
}
.footer-links > div {
  flex: 1;
}
.footer-links img {
  height: 18px;
  width: 18px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul a {
  text-decoration: none;
  color: hsl(0, 0%, 75%);
}
footer h4 {
  color: hsl(0, 0%, 75%);
  margin: 0 auto 0 16px;
}
footer li {
  margin-bottom: 22px;
}
footer ul.socials li:not(:first-child) {
  margin-left: 15px;

}

.socials {
  display: flex;
}

.phone {
  display: flex;
}
.email {
  display: flex;
}




/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

body {
  text-align: center;
}
.top-container {
  flex-direction: column-reverse;
}
.top-container p {
  font-size: 14px;
  /* text-align: center; */

}
.top-container h1 {
  font-size: 31px;
  line-height: 35px;
}
.top-container-image {
  width: 100%;
  /* height: 375px; */
}
.myButton {
  margin-top: 10px;
}

.middle-container {
  flex-direction: column-reverse;
}
.illustration-img2 {
  width: 100%;
  /* height: 375px; */
}
.middle-container-paragraph h1 {
  font-size: 25px;
  margin: 110px auto 30px auto;
}
.middle-container-p {
  font-size: 16px;
  text-align: left;
}
/* .middle-container a {
  margin: 100px auto 100px auto;
} */
.middle-container-box {
  margin: auto;
  text-align: left;
}
.bottom-content {
  flex-direction: column;
}

.bottom-container p {
  margin: 1px auto;
  font-size: 19px;
}

#bottom-placeholder {
  margin: 33px auto 10px auto;
  padding: 14px;
  padding-right: 115px;
}

.bottom-button{
padding: 14px 89px;
}
.footer-container {
  flex-direction: column;
  text-align: left;
}

.footer-links {
  flex-direction: column;
  text-align: left;
  margin: 40px auto;
}
.socials {
  margin: 0 auto;
}

}